*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.class
*.class
*.class
*.class
app/build/intermediates/classes/debug/android/support/constraint/R$styleable.class
*.class
